<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zetavision.panda.ums">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:fullBackupContent="false"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".UmsApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LoginActivity" android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.HOME" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.MONKEY" />-->
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.CheckListActivity" android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.upkeep.UpKeepDetailActivity" android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.spotcheck.SpotCheckDetailActivity" android:configChanges="orientation|screenSize" />
        <service android:name=".service.UmsService" />

        <activity
            android:name=".Main2Activity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:exported="false"/>
    </application>

</manifest>