<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zetavision.panda.ums"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!--<uses-library android:name="android.scanner.library"/>-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:fullBackupContent="false"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".UmsApplication"
        android:theme="@style/AppTheme">

        <uses-library android:name="android.scanner.library" />

        <activity android:name=".ui.LoginActivity" android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" android:configChanges="orientation|screenSize" >
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".ui.CheckListActivity" android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.upkeep.UpKeepDetailActivity" android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.spotcheck.SpotCheckDetailActivity" android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".ui.SearchListActivity" android:configChanges="orientation|screenSize" />
        <!--<activity android:name=".ui.upkeep.UpKeepListActivity" android:configChanges="orientation|screenSize" />-->
        <service android:name=".service.UmsService" />

        <activity
            android:name=".ui.VideoActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:exported="true">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zetavision.panda.ums.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.ImageViewerActivity"
            android:configChanges="orientation|screenSize"/>

        <service android:name=".service.ScannerService"/>

        <receiver android:name=".service.BackGroundReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />

                <!-- 配置 点击通知 和 下载完成 两个 action -->
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>

                <action android:name="com.zetavision.panda.ums.uploadImageAndVideo.log" />
            </intent-filter>
        </receiver>

<!--
        <receiver android:name=".service.ScanReceiver">
            <intent-filter>
                <action android:name="com.android.server.scannerservice.broadcast"/>
            </intent-filter>
        </receiver>
-->

    </application>

</manifest>